#bg {
    background-color: lightskyblue;
    padding: 10px;
    position: absolute;
    margin-left: 298px;
    margin-top: 10px;
    height: 675px;
    width: 780px;
    line-height: 0px;
}

h1 {
    color: darkblue;
    text-align: center;
    padding: 0px;
    font-size: 30px;
}

#form {
    background-color: rgb(204, 137, 75);
    border: 2px solid black;
    padding: 5px;
    position: absolute;
    margin-left: 35px;
    margin-right: auto;
    margin-top: 20px;
    height: 550px;
    width: 700px;
    line-height: 0px;
}

#table {
    height: 550px;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-style: normal;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 150px;
}

th {
    text-align: center;
}

td {
    padding: 2px;
    justify-content: left;
}

tr {
    padding: 10px;
    width: 100px;
    border-collapse: separate;
    text-align: left;
}

a {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: slateblue;
}

input,
select {
    color: #5a5854;
    background-color: #f2f2f2;
    padding: 4px 4px 4px 2px;
    border-radius: 10px;
    margin-bottom: 1px;
}